<div class="col-md-8" id="background2">

Help our kids

<br></br>

	<div class="col-md-2" id="donatebuttons">$1</div>
	<div class="col-md-2" id="donatebuttons">$5</div>
	<div class="col-md-2" id="donatebuttons">$10</div>
	<div class="col-md-2" id="donatebuttons">$20</div>
	<div class="col-md-2" id="donatebuttons">Other</div>

<br></br>
	
	<div class="col-md-4"><img src="images/kids.jpg" width="70%"></div>
 	<div class="col-md-4"><img src="images/shoes.jpg" width="80%"></div>
 	<div class="col-md-4"><img src="images/kids2.jpg" width="70%"></div>
	
	<div class="col-md-12" id="donateshoes">Donate shoes</div>

</div>
