<div class="col-md-8">

	<div class="col-md-7">
		<iframe width="400" height="300" src="https://www.youtube.com/embed/6o6KlphJOVY" frameborder="0" allowfullscreen="">
		</iframe>
	</div>

	<div class="col-md-5">
	<img src="images/sf4.jpg" width="95%">
	</div>
 
 </div>