<div class="col-md-8" id="background2">

	Next orientation sessions:
	
	<ul style="line-height:70px;">
	
	<li>September 1 - Randall's Island Park - soccer field 50</li>
	<li>September 5 - Randall's Island Park - soccer field 52</li>
	<li>September 10 - Randall's Island Park - soccer field 54</li>
	<li>September 15 - Randall's Island Park - soccer field 56</li>

	</ul>
 </div>

				