<div class="col-md-8" id="background2">
The New York Soccer foundation is an non-profit organization that cares about talented children and helps them to improve their soccer skills. Founded in 2014, we also strive to teach the fundamentals of other sports such as baseball, basketball and rugby.

<br></br>

<img src="images/sf5.jpg" width="45%">
<img src="images/sf1.jpg" width="26%">
<img src="images/sf2.jpg" width="26%">

</div>